venv/
*.pyc
*.db
.DS_Store
*.log
.vscode
*.lnk
*.exe
pkg/deej/tools/dfu-util/dfu-util-0.11-win64/*
!pkg/deej/tools/dfu-util/dfu-util-0.11-win64/dfu-util-static.exe
!pkg/deej/tools/dfu-util/README.md
deej-dev
deej-release
releases/
*.bin
logs/
preferences.yaml
.cache/
config.yaml
